@import '../../styles/variables.module';
@import '../../styles/mixins.module';

.loginOverlayWrap {
  z-index: 20;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  background: rgba(24, 19, 16, 0.60);
  backdrop-filter: blur(8px);
}

.loginOverlay {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  display: flex;
  width: 358px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
    
  border-radius: 24px;
  background: $color-bg-card;
  box-shadow: 0 16px 48px 0 rgba(24, 19, 16, 0.20);
  
  @include on-desktop {
    width: 480px;
    padding: 48px;
    gap: 32px;
  }
}

.loginOverlayClose {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;

  border: none;

  cursor: pointer;

  position: absolute;
  right: 24px;
  top: 24px;

  border-radius: $radius-pill;
  background: #FAF6EE;
}

.loginOverlay {
  position: relative;
  animation: slideUp 0.6s ease forwards;
}

.loginOverlayWrap {
  animation: slideAppear 0.6s ease forwards;
}

.loginOverlayWrap.closing {
  animation: slideDisappear 0.6s ease forwards;
}

.closing .loginOverlay {
  animation: slideOut 0.6s ease forwards;
}

@keyframes slideUp {
  from { transform: translateY(20%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideAppear {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideOut{
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(20%); opacity: 0; }
}

@keyframes slideDisappear {
  from { opacity: 1 }
  to { opacity: 0 }
}
