@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  min-height: 100vh;
}

.profile__content {
  max-width: 200px;
  @include content-padding-inline;

  flex: 1;

  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.profile__button {
  display: flex;
  flex-direction: column;
  gap: 4px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid $color-premium-hover;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  background-color: $color-bg-page;

  cursor: pointer;
}

.profile__text {
  font-weight: 800;
  font-style: Bold;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: -1%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile__close {
  position: relative;
  bottom: 80px;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 30px;
  height: 30px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid $color-premium-hover;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;

  background-color: $color-bg-page;
}
