@import '../../styles/mixins.module';

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  min-height: 100vh;
  flex-direction: column;
}

.profile__content {
  max-width: 200px;
  @include content-padding-inline;

  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.profile__button {
  display: flex;
  flex-direction: column;
  gap: 4px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #8C7A4E;

  font-family: "Mont Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  background-color: $color-background;

  cursor: pointer;
}

.profile__text {
  font-family: Mont;
  font-weight: 800;
  font-style: Bold;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: -1%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile__close {
  position: relative;
  bottom: 80px;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 30px;
  height: 30px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #8C7A4E;

<<<<<<< HEAD
=======
}

.profile__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.profile__content {
  padding-top: 230px;
  max-width: 200px;
  @include content-padding-inline;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.profile__button {
  display: flex;
  flex-direction: column;
  gap: 4px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #8C7A4E;

  font-family: "Mont Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  background-color: $color-background;

  cursor: pointer;
}

.profile__text {
  font-family: Mont;
  font-weight: 800;
  font-style: Bold;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: -1%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile__close {
  position: relative;
  bottom: 80px;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 30px;
  height: 30px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #8C7A4E;

>>>>>>> 5281f8d13bfab7c48a363a1ffe1ece1a7b60eca0
  font-family: "Mont Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;

  background-color: $color-background;
}
