@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.wine {
  margin-top: 24px;
  @include content-padding-inline;
  padding: 0 0px 64px 0px;
}

.wine__path {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  margin-bottom: 40px;
}

.wine__content {
  display: flex;
  gap: 64px;
}

.wine__span {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}

.wine__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;

  color: $color-premium-hover;
}

.wine__back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  text-decoration: none;

  margin-bottom: 16px;
}

.wine__back__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}

.wine__thumbnails {
  display: flex;
  gap: 16px;
}

.wineText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.wineCountrySpan {
  color: $color-text-body;
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 500;
}

.wine__title {
  align-self: stretch;
  font-size: 44px;
  font-weight: 900;
  line-height: 115%;
}

.wine__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.wine__thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  align-self: center;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}

.wine__thumbnail {
  width: 133px;
  height: 90px;

  border-radius: 12px;
  border: 2px solid $color-bg-page;

  background-color: transparent;
  transition: 0.3s;

  aspect-ratio: 3 / 3;
  overflow: hidden;

  cursor: pointer;

  &:hover {
    border: 2px solid $color-premium-hover;
    transition: 0.3s;
  }

  &.wineThumbnailActive {
    border: 2px solid #33513F;
  }
}

.wine__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  align-self: center;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}

.wine__gallery {
  display: flex;
  height: 520px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  aspect-ratio: 3 / 3;
  overflow: hidden;

  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 12px 32px 0 rgba(92, 83, 70, 0.05);
}

.wine__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.wineOccacion {
  display: flex;
  padding: 6px 14px;
  align-items: flex-start;

  border-radius: 100px;
  background: $color-bg-tag;
}

.wineTop {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wineRating {
  display: flex;
  gap: 4px;

  color: $color-text-heading;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 600;
}

.wineTopSpan {
  color: $color-text-accent;
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.wine__country {
  display: flex;
  align-items: center;
  gap: 4px;
}

.wine__span {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.wine__flag {
  width: 20px;
}

.wine__price {
  font-size: 36px;
  font-weight: 900;
}

.wine__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 16px;
}

.wineQuantityStepper {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 12px;

  border-radius: 100px;
  border: 1px solid $color-text-primary;
  background: $color-bg-card;
}

.wineQuantityStep {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  background: $color-bg-tag;

  cursor: pointer;
}

.wineFavourites {
  display: flex;
  min-width: 50px;
  height: 50px;
  padding: 12px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 1.5px solid $color-text-primary;
}

.wineQuantityStepSpan {
  border: none;
  cursor: pointer;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
}

.wineQuantityNumber {
  width: 24px;
  color: $color-text-heading;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
}

.wineNavink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.wineSpan {
  color: $color-text-tertiary;
  font-family: "Work Sans";
  font-size: 13px;
  font-weight: 400;
}

.winePathName {
  font-family: "Work Sans";
  font-size: 13px;
  font-weight: 600;
}

.wineTasting {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wineTastingTitle {
  font-size: 18px;
  font-weight: 700;
}

.wineTastingDescription {
  color: $color-text-body;
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}

.wineTechnical {
  padding: 64px 80px;
  
  border-top: 1px solid $color-text-tertiary;
  border-bottom: 1px solid $color-text-tertiary;
  background: $color-bg-footer;
}

.winesTechnicalWrap {
  @include content-padding-inline;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.wineTechnicalTitle {
  align-self: stretch;
  font-size: 24px;
  font-weight: 900;
}

.wineTechnicalList {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.wineTechnicalItem {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;

  border-radius: 18px;
  background: $color-bg-card;
  box-shadow: 0 4px 16px 0 rgba(92, 83, 70, 0.03);
}

.wineTechnicalItemTitle {
  align-self: stretch;
  color: $color-text-tertiary;
  font-family: "Work Sans";
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.wineTechnicalItemSpan {
  align-self: stretch;
  font-size: 18px;
  font-weight: 700;
}

.wineAlsoLike {
  @include content-padding-inline;

  display: flex;
  justify-content: center;
  padding: 80px 0 80px 0;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
}

.wineTopGrid {
  display: grid;

  @include on-tablet {
    --columns: 2;

    column-gap: 32px;
    row-gap: 40px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  @include on-desktop {
    --columns: 3;

    grid-template-columns: repeat(var(--columns), 1fr);
  }
}