@keyframes slideIn {
  from { transform: translateX(-20%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slideInReverse {
  from { transform: translateX(50%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutReverse {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-50%); opacity: 0; }
}

@keyframes slideUp {
  from { transform: translateY(20%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes cardDelete {
  0% {
    opacity: 1;
    transform: scale(1);
    max-height: 200px;
  }
  40% {
    opacity: 0;
    transform: scale(0.9);
    max-height: 200px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
  }
}