@font-face {
  font-family: "Mont Regular";
  src: url('../assets/fonts/mont/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('../assets/fonts/mont/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
