// Breakpoints
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1200px;

// Colors
$color-text-main: #F4F1EA;
$color-text-secondary: #75767F;
$color-background: #141311;
$color-card: #1F1E1B;
$color-accent: #4A1B0C;
$color-gold: #8C7A4E;
$color-error: #EF4444;
$darker-color-gold: #726340;
