// Breakpoints
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1200px;

// Colors
<<<<<<< HEAD
$color-text-main: #F4F1EA;
$color-text-secondary: #75767F;
$color-background: #141311;
$color-card: #1F1E1B;
$color-accent: #4A1B0C;
=======
$color-text-main: #F1F2F9;
$color-text-secondary: #A0A3BD;
$color-background: #1C1D2B;
>>>>>>> ac19ec8b35e579b93b6f95d36d90e49db24319b4
