@import './variables.module';
@import './fonts.module';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $color-text-primary;
  font-family: Fraunces, sans-serif;
}

body {
  background-color: $color-bg-page;
}
