.home {
<<<<<<< HEAD
  min-height: 100vh;
  display: flex;
  flex-direction: column;
=======
>>>>>>> 1ba30669a17689e92f7fe312e7d08f50cd2e5396
}

.home__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
<<<<<<< HEAD

.home__main {
  flex: 1;
}
=======
>>>>>>> 1ba30669a17689e92f7fe312e7d08f50cd2e5396
