@import '../../styles/variables.module';

.auth {
  position: fixed;
  top: 0;
  left: 0;
  animation: slide-in-right 1s ease-out;

  padding: 32px;
  display: flex;
  align-items: center;

  width: 30%;
  height: 100vh;

  opacity: 0.8;

  background: $color-bg-card;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authClose {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-text-primary;
  position: absolute;
  top: 30px;
  right: 30px;

  width: 40px;
  height: 40px;

  background: $color-bg-card;

  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: $color-text-accent;
  }
}

.authButton {
  display: flex;
  flex-direction: column;
  gap: 4px;

  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid $color-premium-hover;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  background-color: $color-bg-page;

  cursor: pointer;
}

.authClosing {
  animation: slide-out-right 1s ease-in;
}

.authWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  gap: 20px;
}

.authMessage {
  font-weight: 800;
  font-style: Bold;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: -1%;
}

@keyframes slide-in-right {
   from {
       transform: translateX(-100%);
       opacity: 0;
   }
   to {
       transform: translateX(0);
       opacity: 0.8;
   }
}

@keyframes slide-out-right {
   from {
       transform: translateX(0);
       opacity: 0.8;
   }
   to {
       transform: translateX(-100%);
       opacity: 0;
   }
}
