@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}

.favourites__content {
  @include content-padding-inline;

  flex: 1;

  width: 100%;

  margin-inline: 16px;

  @include on-tablet {
    margin-inline: 24px;
  }

  @include on-desktop {
    margin-inline: 32px;
  }
}

.favourites__header {
  width: 100%;
}

.favourites__path {
  margin-top: 25px;
  margin-bottom: 40px;

  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;

  &-name {
    color: $color-text-accent;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
  }
}

.favourites__items {
  width: 100%;
  flex: 2 1 0;
  min-width: 0;

  &-empty {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.favourites__sub {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-text-accent;

  margin-bottom: 40px;
}

.favourites__footer {
  width: 100%;
}

.favourites__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.favourites__grid {
  margin-top: 24px;
  display: grid;
  margin-bottom: 80px;

  @include on-tablet {
    --columns: 2;

    column-gap: 16px;
    row-gap: 40px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  @include on-desktop {
    --columns: 4;

    grid-template-columns: repeat(var(--columns), 1fr);
  }
}

.favourites__card {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;

  padding: 32px;

  height: 100%;

  background-color: $color-bg-card;
  border: $color-bg-card 1px solid;

  margin-bottom: 40px;

  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    border: $color-text-accent 1px solid;
  }
}

.favourites__image {
  height: 200px;
  background-color: transparent;
}

.favourites__name {
  background-color: $color-bg-card;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.favourites__price {
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
  background-color: $color-bg-card;
}

.favourites__country {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: $color-bg-card;
}

.favourites__rating {
  background-color: $color-bg-card;

  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}

.favourites__flag {
  position: relative;
  bottom: 2px;
  width: 20px;
}

.favourites__buttons {
  position: relative;
  bottom: -30px;
  display: flex;
  gap: 8px;
  background-color: $color-bg-card;
}

.favourites__buttons__cart {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 1px solid $color-premium-hover;
  background-color: $color-premium-hover;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
}

.favourites__buttons__cart__active {
  background-color: transparent;
}

.favourites__buttons__favourites {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 50px;
  border: 1px solid $color-premium-hover;
  background-color: $color-premium-hover;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
}

.favourites__buttons__favourites__icon {
  background-color: transparent;
}

.favourites__buttons__favourites__active {
  background-color: transparent;
}
