@import '../../styles/variables.module';

.header {
  display: flex;
  height: 80px;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header__container {
  width: 100%;
}
