@import '../../styles/variables.module';

.confirmEmailPage {
  max-width: 400px;
  text-align: center;
}

.confirmEmailPage__error {
  color: $color-error;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
}
