@import '../../styles/variables.module';

.confirmEmailPage {
  display: flex;
  justify-content: center;
  text-align: center;
}

.confirmEmailPage__error {
  position: absolute;
  top: 40%;
  color: $color-error;
  max-width: 400px;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.confirmEmailPageText {
  position: absolute;
  top: 40%;
  color: $color-text-primary;
  max-width: 400px;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.confirmEmailPage__error {
  position: absolute;
  top: 40%;
  color: $color-error;
  max-width: 400px;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
}
