@import '../../styles/variables.module';

.confirmEmailPage {
  display: flex;
  justify-content: center;
  text-align: center;
}

.confirmEmailPageText,
.confirmEmailPageError {
  position: absolute;
  top: 40%;
  max-width: 400px;

  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.confirmEmailPageText {
  color: $color-text-primary;
}

.confirmEmailPageError {
  color: $color-error;
}
