@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: auto;
  background-color: $color-bg-footer;
  height: 100%;
}

.footerTitle {
  text-decoration: none;
  font-size: 28px;
  font-weight: 900;

  @include on-desktop {
    font-size: 32px;
  }
}

.footerNavs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  @include on-tablet {
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 32px;
  }

  @include on-desktop {
    gap: 106px;
  }
}

.footerItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerText {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  
  @include on-tablet {
    width: 45%;
    gap: 16px;
  }
  
  @include on-desktop {
    width: 31.25%;
    gap: 20px;
  }
}

.footerSubscribeForm {
  position: relative;
}

.footerEmail {
  display: flex;
  height: 44px;
  padding: 0 4px 0 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: $radius-pill;
  border: none;
  background: $color-bg-card;

  width: 100%;

  color: $color-text-tertiary;
  font-family: $font-body;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

.footerSubscribeButton {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: $radius-pill;
  background: $color-text-primary;

  position: absolute;
  top: 2px;
  right: 4px;

  border: none;

  cursor: pointer;

  color: $color-bg-card;
  font-family: $font-body;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerSubTitle {
  color: $color-text-body;
  font-family: $font-body;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */

  @include on-desktop {
    font-size: 14px;
  }
}

.footerLine {
  margin: 0;
  height: 1px;
  width: 100%;
  background: $color-text-tertiary;

  opacity: 0.2;

  margin-bottom: 48px;
}

.footerLineTop {
  margin: 0;
  height: 1px;
  width: 100%;
  background: $color-text-tertiary;
  
  opacity: 0.2;
}

.footerNavTitle {
  font-family: $font-body;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 12px;
  }
}

.footerItemLink {
  color: $color-text-body;
  font-family: $font-body;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  
  @include on-tablet {
    font-size: 14px;
  }
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.footerNav {
  display: flex;
  width: 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  
  @include on-tablet {
    width: 150px;
  }
}

.footerContainer {
  @include content-padding-inline;
  padding-block: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  
  @include on-tablet {
    padding-block: 48px 32px;
  }
  
  @include on-desktop {
    padding-block: 60px 40px;
  }
}

.footerItemsTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  gap: 0px;
    
  @include on-tablet {
    gap: 32px;
    flex-direction: row;
    justify-content: stretch;
  }
  
  @include on-desktop {
    gap: 125px;
  }
}

.footerTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
  
  justify-content: space-between;
  
  @include on-tablet {
    flex-direction: column;
    gap: 32px;
  }
  
  @include on-desktop {
    flex-direction: row;
    gap: 0;
  }
}

.footerConnect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footerCompany {
  display: none;
}

.footerEmailSpan {
  color: $color-text-body;
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  max-width: 100px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}

.footerSocials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  
  @include on-tablet {
    flex-direction: row;
  }
}

.footerSocial {
  display: flex;
  padding: 8px;
  align-items: flex-start;

  border-radius: $radius-pill;
  background: $color-bg-card;
}

.footerBottom {
  display: flex;
  flex-direction: column; 
  gap: 16px;
  
  @include on-tablet {
    gap: 0;
    flex-direction: column; 
    justify-content: space-between;
  }
}

.footerBottomText {
  color: $color-text-tertiary;
  font-family: $font-body;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerBottomRight {
  display: flex;
  gap: 24px;
}
