@import '../../styles/mixins.module';

.forgotwordPass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotPasswordMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Mont;
  font-weight: 800;
  font-size: 18px;
  line-height: 11px;
  letter-spacing: 4%;
  text-transform: uppercase;

}

.forgotPasswordForm {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  max-width: 250px;
  text-align: center;
}

.forgotPasswordError {
  color: $color-error;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.forgotPasswordButton {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  min-height: 40px;

  border-radius: var(--corner-radius-8, 8px);
  border: 1px solid #8C7A4E;
  background: #8C7A4E;

  font-family: "Mont Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;

  min-width: 250px;

  position: relative;
}

.forgotPasswordInput {
  display: flex;
  padding: var(--spacing-150, 12px);
  align-items: center;
  gap: var(--spacing-125, 10px);
  align-self: stretch;

  border-radius: 6px;
  border: 1px solid $darker-color-gold;
  background-color: $color-card;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $color-card inset !important;
    -webkit-text-fill-color: $color-text-main !important;
    caret-color: $color-text-main;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.forgotPassBackLink {
  font-family: "Mont";
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 4%;
  text-transform: uppercase;
  text-decoration: none;
}